@font-face {
    font-family: 'DMSans-Medium';
    src: url('../fonts/DMSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'DMSans-Medium', sans-serif;
}

.btn-main {
    background-color: rgba(158, 105, 58, 1) !important;
    color: white !important;
    border-radius: 50px !important; /* Круглая кнопка */
    padding: 8px 20px !important;
    margin-left: 15px !important;
    border: none !important;
    text-decoration: none !important;
    display: inline-block !important;
}